{% extends 'base.html' %}
{% load admin-link %}
{% load staticfiles %}

{% block title_block %}Edit information about peson{% endblock %}
{% block content_block %}
    {{ form.media }}

    <div class="col-md-9 col-sm-8 col-xs-12"> </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <ul class="nav navbar-nav navbar-right">
           {% if user.is_authenticated %}
               <li><a href="{% url 'edit' person.pk %}">Edit</a></li>
               <li><a href="{% edit_link person %}">(admin)</a></li>
               <li><a href="{% url 'logout' %}">Log Out</a></li>
           {% else %}
               <li><a href="{% url 'login' %}">Login</a></li>
           {% endif %}
        </ul>
    </div>
 
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 

        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> </div>

        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"> 

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>42 Coffee Cups Test Assignment</h2>
        </div>

            <form id="myForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="padding1">
                        <div class="col-xs-4">Name:</div>
                        <div class="col-xs-8">{{ form.name }}</div>
                    </div>
                    <div class="padding1">
                        <div class="col-xs-4">Last name:</div>
                        <div class="col-xs-8">{{ form.last_name }}</div>
                    </div>
                    <div class="padding1">
                        <div class="col-xs-4">Date of birth:</div>
                        <div class="col-xs-8">{{ form.date }}</div>
                    </div>
                    <div class="col-xs-12">Photo: {{ form.image }}</div>
                    <div class="col-xs-12">
                        {% if person.image %}
                            <p><img class="image1" src='{{ MEDIA_URL }}{{ form.image.value }}'></p>
                        {% else %}
                            <p><img class="image1" src='{% static 'image/no.gif' %}'></p>
                        {% endif %}
                    </div>

                </div>
                <div class="clearfix visible-xs-block"></div> 

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="padding1">
                        <div class="col-xs-3">Email:</div>
                        <div class="col-xs-9">{{ form.email }}</div>
                    </div>
                    <div class="padding1">
                        <div class="col-xs-3">Jabber:</div>
                        <div class="col-xs-9">{{ form.jabber }}</div>
                    </div>
                    <div class="padding1">
                        <div class="col-xs-3">Skype:</div>
                        <div class="col-xs-9">{{ form.skype }}</div>
                    </div>
                    <div class="col-xs-12">Other contacts:</div>
                    <div class="col-xs-12">{{ form.other_contact }}</div>
                    <div class="col-xs-12">Bio:</div>
                    <div class="col-xs-12">{{ form.bio }}</div>
                </div>

                <div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div> 

                <div class="col-lg-12" id="load" style="display:none;">Loading ...</div>
                <div class="col-lg-12" id="error" style="display:none;">Errors</div>
                <div class="col-lg-12" id="result" style="display:none;">Changes have been saved</div>
                <div class="col-lg-12"><input class="btn btn-md btn-primary" value="Save" type="submit"> &nbsp;<a href="{% url 'about' %}" class="btn btn-md btn-danger">Cancel</a></div>
            </form>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr>
                <p><a href="{% url 'request_list' %}">Request</a></p>
            </div>

        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> </div>

    </div>

    <script type='text/javascript' src="{% static 'js/ajax-form.js' %}"></script>
{% endblock %}
